.banner{
    height: 400px;
    background-color: rgb(16,16,16);
}

.row{
    padding: 1rem;
    background-color: rgb(16,16,16);
    
    >h2{
        margin: 0.3rem;
        font-weight: 400;
    }

    > div{
        display:flex;
        overflow-x: auto;
        
    }

}

.card {
    width: 200px;
    margin: 0.1rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover {
      transform: translateY(-10px);
    }
  }
  
  
